
.vs/VSWorkspaceState.json

WebApplication/obj/project.nuget.cache

WebApplication/obj/project.assets.json

WebApplication/obj/Release/net6.0/WebApplication.AssemblyInfoInputs.cache

WebApplication/obj/WebApplication.csproj.nuget.dgspec.json

WebApplication/obj/Debug/net6.0/WebApplication.AssemblyInfoInputs.cache

WebApplication/obj/Debug/net6.0/WebApplication.RazorAssemblyInfo.cache

WebApplication/obj/Release/net6.0/WebApplication.RazorAssemblyInfo.cache

WebApplication/obj/WebApplication.csproj.nuget.g.props

WebApplication/obj/Release/net6.0/WebApplication.AssemblyInfo.cs

WebApplication/obj/Debug/net6.0/WebApplication.GeneratedMSBuildEditorConfig.editorconfig

WebApplication/obj/Release/net6.0/WebApplication.GeneratedMSBuildEditorConfig.editorconfig
