
*.cache

WebApplication/WebApplication/obj/Debug/net6.0/WebApplication.AssemblyInfo.cs

WebApplication/WebApplication/obj/Debug/net6.0/WebApplication.GeneratedMSBuildEditorConfig.editorconfig

WebApplication/WebApplication/obj/project.assets.json

WebApplication/WebApplication/obj/WebApplication.csproj.nuget.dgspec.json

WebApplication/WebApplication/obj/WebApplication.csproj.nuget.g.props

WebApplication/WebApplication/wwwroot/lib/jquery/LICENSE.txt

WebApplication/WebApplication/wwwroot/lib/jquery-validation/LICENSE.md

WebApplication/WebApplication/obj/Debug/net6.0/WebApplication.csproj.FileListAbsolute.txt

WebApplication/.vs/WebApplication/v17/.suo

*.v2

WebApplication/.vs/WebApplication/FileContentIndex/read.lock

WebApplication/.vs/WebApplication/FileContentIndex/5b3a3e9c-1373-403b-90a8-239795de3375.vsidx
