@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<script src="js/site.js"></script>
<style src="css/site.css"></style>
<style src="css/style.scss"></style>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="row">
        Hello!
    </div>
    <div class="row">
        BYE!
    </div>

    <div class="menu-buttons">
        <button class="blob-btn">
            Meet The Band
            <span class="blob-btn_inner">
                <span class="blob-btn_blobs">
                    <span class="blob-btn_blob"></span>
                    <span class="blob-btn_blob"></span>
                    <span class="blob-btn_blob"></span>
                    <span class="blob-btn_blob"></span>
                </span>
            </span>
        </button>
    </div>
</div>